@model CarRental.Models.Car

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="All-Header">
    <div class="All-Content">
        <h3 class="text-white mt-5">Car Delete</h3>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-lg-10">
            <h1 class="text-center fst-italic">Delete Car</h1>
            <dl class="row my-3">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CarModel)
                </dt>
                <dd class="col-sm-2">
                    @Html.DisplayFor(model => model.CarModel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CarBrand)
                </dt>
                <dd class="col-sm-2">
                    @Html.DisplayFor(model => model.CarBrand)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CarPlateNum)
                </dt>
                <dd class="col-sm-2">
                    @Html.DisplayFor(model => model.CarPlateNum)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CarPriceDay)
                </dt>
                <dd class="col-sm-2">
                    @Html.DisplayFor(model => model.CarPriceDay)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CarPriceWeek)
                </dt>
                <dd class="col-sm-2">
                    @Html.DisplayFor(model => model.CarPriceWeek)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CarPriceMonth)
                </dt>
                <dd class="col-sm-2">
                    @Html.DisplayFor(model => model.CarPriceMonth)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CarAvilable)
                </dt>
                <dd class="col-sm-2">
                    @Html.DisplayFor(model => model.CarAvilable)
                </dd>
            </dl>
            <form asp-action="Delete" class="d-flex justify-content-between px-4">
                <input type="hidden" asp-for="CarID" />
                <input type="submit" value="Delete" class="btn btn-danger w-25" />
                <a class="btn btn-secondary w-25" asp-action="Index">Back</a>
            </form>
        </div>
    </div>
</div>

